*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container
{
    display: flex;
    justify-content: center;
    padding: 16px 24px;
}

.text
{
    font-weight: bold;
    font-size: 48px;
}

.subtext
{
    font-size: 18px;
    text-align: center;
}

body
{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 0px;
    min-height: 100vh;
}

.navbar, .footer-section
{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
}

.navbar
{
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 24px 0px;
}

.left-links, .right-links
{
    display: flex;
    margin-left: 24px;
}

.right-links
{
    gap: 2em;
    margin-left: auto;
    margin-right: 24px;
}

.nav-elements
{
    font-size: 20px;
}

.about-section
{
    background-color: #1F2937;
    justify-content: space-between;
    padding-top: 76px;
}

.left-about
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text.about
{
    color: #F9FAF8;
}

.subtext.about
{
    color: #E5E7EB;
    text-align: left;
    margin-right: 40px;
}

.sign-up
{
    background-color: #3882F6;
    width: 100px;
    padding: 6px 6px; 
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
}

#headshot
{
    display: flex;
    margin-bottom: 8px;
    height: 200px;
}

.projects-section, .projects
{
    background-color: #E5E7EB;
    color: #1F2937;
}

.projects-section
{
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
    padding-top: 76px;
}

.projects
{
    padding: 24px;
    gap: 40px;
    flex-wrap: wrap;
}

.project
{
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    width: 120px;
    padding: 0px;
}

.project img
{
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
}

.project .subtext
{
    text-wrap: wrap;
}

.quote-section
{
    background-color: #E5E7EB;
}

.quote-section .subtext
{
    color: #1F2937;
    font-style: italic;
    font-size: 24px;
    padding: 32px;
}

.contact-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3882F6;
    color: #1F2937;
    gap: 16px;
    padding: 24px;
}

.contact-info
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.contact-info-row
{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F9FAF8;
}

.contact-info-row img
{
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}

.contact-info-row a
{
    font-weight: bold;
}

.footer-section
{
    justify-content: center;
    margin-top: auto;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a 
{
    text-decoration: none;
    color: #F9FAF8;
}