*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container
{
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 10px 16px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 0px;
    min-height: 100vh;
}

.header-section, .footer-section
{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
}

.header-section
{
    justify-content: space-between;   
}

.left-links, .right-links
{
    display: flex;
    /* padding: 8px; */
}

.right-links
{
    gap: 8px;
}

.about-section
{
    background-color: #1F2937;
    justify-content: space-between;
}

.left-about
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text
{
    font-weight: bold;
    font-size: 48px;
}

.subtext
{
    font-size: 18px;
}

.text .about-section
{
    color: #F9FAF8;
}

.subtext .about-section
{
    color: #E5E7EB;
}

.sign-up
{
    background-color: #3882F6;
    width: 100px;
    padding: 6px 6px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
}

#headshot
{
    display: flex;
    margin-bottom: 8px;
    height: 200px;
}

.apps-section, .apps
{
    background-color: #FFFFFF;
    color: #1F2937;
}

.apps-section
{
    flex-direction: column;
    align-items: center;
}

.quote-section
{
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.contacts-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3882F6;
    color: #1F2937;
}

.footer-section
{
    justify-content: center;
    margin-top: auto;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a 
{
    text-decoration: none;
    color: #F9FAF8;
}