*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container
{
    display: flex;
    justify-content: center;
    padding: 10px 16px;
}

.text
{
    font-weight: bold;
    font-size: 48px;
}

.subtext
{
    font-size: 18px;
    text-align: center;
}

body
{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 0px;
    min-height: 100vh;
}

.header-section, .footer-section
{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
}

.header-section
{
    justify-content: space-between;   
}

.left-links, .right-links
{
    display: flex;
}

.right-links
{
    gap: 12px;
}

.about-section
{
    background-color: #1F2937;
    justify-content: space-between;
}

.left-about
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text.about
{
    color: #F9FAF8;
}

.subtext.about
{
    color: #E5E7EB;
    text-align: left;
}

.sign-up
{
    background-color: #3882F6;
    width: 100px;
    padding: 6px 6px; 
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
}

#headshot
{
    display: flex;
    margin-bottom: 8px;
    height: 200px;
}

.apps-section, .apps
{
    background-color: #FFFFFF;
    color: #1F2937;
}

.apps-section
{
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
}

.apps
{
    padding: 24px;
    gap: 40px;
}

.app
{
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    width: 120px;
    padding: 0px;
}

.app img
{
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin-bottom: 8px;
}

.app .subtext
{
    text-wrap: wrap;
}

.quote-section
{
    background-color: #E5E7EB;
}

.quote-section .subtext
{
    color: #1F2937;
    font-style: italic;
    font-size: 24px;
    padding: 32px;
}

.contact-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3882F6;
    color: #1F2937;
    gap: 16px;
    padding: 24px;
}

.contact-info
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.contact-info-row
{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F9FAF8;
}

.contact-info-row img
{
    width: 30px;
    height: auto;
}

.contact-info-row a
{
    font-weight: bold;
}

.footer-section
{
    justify-content: center;
    margin-top: auto;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a 
{
    text-decoration: none;
    color: #F9FAF8;
}