body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

h1
{
    font-size: 40px;
    color: white;
    padding: 16px;
    background-color: royalblue;
    border: 2px solid black;
}

#grid-container
{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    
}


.grid-square
{
    border: 2px solid black;
    box-sizing: border-box;
}

button
{
    margin: 8px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: royalblue;
    color: white;
    border-color: royalblue;
    width: 120px;
}